# temporary file used to make commits
/git_commit.sh
#
# temporary file used by bin/user_test.sh
/user_test.tmp
#
# cmake configuration files that are put in source directory
/include/dismod_at/configure.hpp
/python/bin/dismodat.py
/bin/user_test.sh
#
# Directory were builds take place. Note that /build is a link, hence
# it looks to git like a file instead of a directory.
/build
#
# Director created by pip
/python/dist/
/python/dismod_at.egg-info/
#
# a previous release build that /build can point to
/build.release/
#
# a previous debug build that /build can point to
/build.debug/
#
# Directory where externals are downloaded and built
/external/
#
# directory where ihme databases are copied
/ihme_db/
#
# directories that are used for stashing files
# (any new directory and new.* in top directory)
/new/
/new.*/
#
# vim swap files
*.swp
#
# log files
/*.log
#
# error files
/*.err
#
# python compiled files
*.pyc
#
# temporary file for many purposes
temp
temp.*
