# temporary file used to make commits.
git_commit.sh
# temporary file for all purposes
junk
junk.*
#
# gnu profiling files
example/devel/gmon.out
example/devel/gprof.out
#
# cmake configure filess
include/dismod_at/configure.hpp
bin/dismodat.py
bin/setup.py
#
# web version of documentation directory
doc.tgz
#
# directories that are automatically created
build
build.debug
build.release
doc
#
# directories that are used for running omhelp by hand
htm
#
# directories that are used for stashing files
new
new.*
#
# vim swap files
*.swp
#
# log files
*.log
#
# python complilation files
*.pyc
