# temporary file used to make commits.
git_commit.sh
# temporary file for all purposes
junk
# web version of documentation directory
doc.tgz
# directories that are automatically created
build
doc
# vim swap files
*.swp
# log files
*.log
# python complilation files
*.pyc
